<button ng-click="$ctrl.getUp()">Наверх</button><br>
<form ng-submit="$ctrl.get()">
    <input type="text" ng-model="$ctrl.path" size="70" draggable="false"/>
    <button type="submit">Перейти</button>
    <br>
</form>


<ul draggable="false">
    <style>
        .downfolder {
            color: blue;
        }
    </style>
    <p></p>
    <div ng-click="$ctrl.get()"> <!-- При нажатиях в этом блоке обновляет список файлов в папке -->
        <create-document></create-document>
    </div>
    <br/>
    <div ng-click="$ctrl.get()">
        <create-folder></create-folder>
    </div>
    <br/>
    <li ng-repeat="file in $ctrl.folderValue"><u>
        <div class="downfolder" id="downFolderName" ng-click="$ctrl.selectItem()">
            <text ng-click="$ctrl.get()">
                <button ng-click="$ctrl.deleteFile(file)" title="Удалить">&#10008;</button>
            </text>
            <button ng-click="editname = true">&#9998;</button>
            <div ng-show="editname == true">
                <input ng-model="$ctrl.newName" autofocus>
                <text>{{file}}<txt style="">&nbsp;&nbsp;</txt></text>
                <button ng-click="editname = false" title="Отмена">&#x21ba;</button>
                <form ng-click="editname = false">
                    <button ng-click="$ctrl.renameFile(file)">Переименовать</button><p></p>
                </form>
            </div>
            <text ng-dblclick="$ctrl.getDown(file)" ng-hide="editname == true">{{file}}</text>
        </div>
    </u></li>

</ul>