<div class="file-manager__functionals">
    <button ng-click="$ctrl.goBack()" type="button" class="file-manager__button go-back">назад</button>
    <button ng-click="$ctrl.addFolder()" type="button" class="file-manager__button add-folder">добавить папку</button>
    <button ng-click="$ctrl.addFile()" type="button" class="file-manager__button add-file">добавить файл</button>
    <button ng-click="$ctrl.removeItem()" type="button" class="file-manager__button remove-file">удалить выбранный</button>
</div>
<div class="file-manager__content">

    <div class="folder-view">
        <ul>
                <button ng-dblclick="$ctrl.showFolderElem(value, key)" ng-click="$ctrl.selectItem(key, value, $event)"
                        class="folder-view__button" type="button">{{$ctrl.folderValue}}</button>
        </ul>
    </div>
</div>
