.registration-form {
    padding: 2rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.registration__label {
    display: block;
    margin-bottom: 1rem;

    &:last-of-type {
        margin-bottom: 0;
    }
}

.registration__input {
    border: none;
    font-size: 2rem;
    padding: .6rem 1rem;
}

.registration__button {
    padding: .6rem 1rem;
    border: none;
    margin-top: 1rem;
    font-size: 2rem;
}

.active {
    color: #f00;
    font-weight: 700;
}
