<form name="registrationForm" class="registration-form">
    <label class="registration__label">
        <input type="text" class="registration__input" name="login" placeholder="login" ng-model="regCtrl.login" required>
        <span class="warning-alert" ng-show="registrationForm.login.$invalid && registrationForm.login.$touched">invalid login</span>
    </label>
    <label class="registration__label">
        <input type="password" class="registration__input" name="firstPassword" placeholder="first password" ng-model="regCtrl.firstPassword" ng-model-options="{ allowInvalid: true, debounce: 200 }" ng-minlength="8" required>
        <span class="warning-alert" ng-show="registrationForm.firstPassword.$invalid && registrationForm.firstPassword.$touched">invalid password</span>
    </label>
    <label class="registration__label">
        <input type="password" class="registration__input" name="secondPassword" placeholder="confirm password" ng-model="regCtrl.secondPassword" ng-minlength="6" compare-pass="regCtrl.firstPassword" required>
        <span class="warning-alert" ng-show="registrationForm.secondPassword.$minLength && registrationForm.secondPassword.$touched">* invalid password</span>
        <span class="warning-alert" ng-show="registrationForm.secondPassword.$compareTo && registrationForm.secondPassword.$touched">* Must match the previous entry</span>
    </label>
    <span ng-show="regCtrl.firstPassword==regCtrl.secondPassword" class="warning-alert"></span>
    <!-- add some meta data -->
    <button type="submit" name="button" class="registration__button" ng-disabled="registrationForm.$invalid" ng-click="regCtrl.sendUserRegistration()">registration</button>
</form>
