.login {
    padding: 2rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login__label {
    display: block;
    margin-bottom: 1rem;
}

.login__label:last-of-type {
    margin-bottom: 0;
}

.login__input {
    border: none;
    font-size: 2rem;
    padding: .6rem 1rem;
}

.login__button {
    padding: .6rem 1rem;
    border: none;
    margin-top: 1rem;
    font-size: 2rem;
}

.active {
    color: #f00;
    font-weight: 700;
}

/*input.ng-invalid {
    background-color: pink;
}

input.ng-valid {
    background-color: lightgreen;
}*/

.warning-alert {
    color: #f00;
    font-weight: bold;
}
