<!--<button ng-click="$ctrl.createfile()">Новый документ</button>-->


<button ng-click="crDocument = true" ng-hide="crDocument">Новый документ</button>
<div ng-show="crDocument">
    <button ng-click="crDocument = false">&#216; Закрыть</button>
    <div>Название файла</div>
    <input type="text" ng-model="$ctrl.name" size="40" draggable="false"/><br>
    <div>Содержимое</div>
    <textarea type="text" ng-model="$ctrl.data" size="40" draggable="false"></textarea><br>
    <button ng-click="$ctrl.create()">&#10003; Создать файл</button>
</div>